.mainFiltersContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 64px;
  padding: 32px 70px 0 70px;
}
.mainFiltersContainer h1 {
  font-family: "Extatica", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
.mainFiltersContainer .filtersContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.mainFiltersContainer .filtersContainer h2 {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #040306;
  opacity: 40%;
  margin-bottom: 12px;
}
.mainFiltersContainer .filtersContainer .projectsDropdown {
  position: relative;
}
.mainFiltersContainer .filtersContainer .projectsDropdown button img {
  transition: transform 0.3s ease-in-out;
}
.mainFiltersContainer .filtersContainer .projectsDropdown.open button img {
  transform: rotate(-180deg) translateY(2px);
}
.mainFiltersContainer .filtersContainer .progectListsContainer {
  width: 430px;
  min-width: 200px;
}
.mainFiltersContainer .filtersContainer .progectListsContainer button {
  padding-right: 35px;
}
.mainFiltersContainer .filtersContainer .progectListsContainer button:focus {
  outline: none;
  background: #2495FE;
  color: #FFFFFF;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsList_list {
  position: absolute;
  left: 0;
  top: 60px;
  display: none;
  border: 1px solid #1E1F22;
  border-radius: 10px;
  overflow: hidden;
  background: #FFFFFF;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 1;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsList_list.open {
  display: block;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsList_list .projectsList_list-item {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  border-radius: 10px;
  padding: 20px;
  opacity: 75%;
  cursor: pointer;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsList_list .projectsList_list-item:hover {
  background: #2495FE;
  color: #FFFFFF;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsList_list .projectsList_list-item:last-child {
  border-bottom: none;
}
.mainFiltersContainer .filtersContainer .progectListsContainer .projectsDropdownInput-hidden {
  display: block;
  border: 1px solid black;
}
.mainFiltersContainer .filtersContainer button {
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  border: 1px solid #1E1F22;
  border-radius: 10px;
  opacity: 75%;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 25px;
  cursor: pointer;
}
.mainFiltersContainer .filtersContainer button img {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}
.mainFiltersContainer .filtersContainer button .progectListsContainer, .mainFiltersContainer .filtersContainer button .flatRoomBtnsContainer, .mainFiltersContainer .filtersContainer button .priceFilterContainer {
  display: flex;
  flex-direction: column;
}
.mainFiltersContainer .filtersContainer button p {
  opacity: 100%;
  color: #040306;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.7px;
}
.mainFiltersContainer .filtersContainer .roomsBtnsContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 55px;
}
.mainFiltersContainer .filtersContainer .roomsBtnsContainer [class^=roomsBtns] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 55px;
  height: 55px;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer {
  width: 430px;
  min-width: 370px;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  border: 1px solid #1E1F22;
  border-radius: 10px;
  opacity: 75%;
  padding: 0 20px;
  margin-bottom: 25px;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .min_priceWrapper input, .mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .max_priceWrapper input {
  width: 100%;
  opacity: 100%;
  color: #040306;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.7px;
  text-align: center;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .min_priceWrapper input:focus::-moz-placeholder, .mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .max_priceWrapper input:focus::-moz-placeholder {
  opacity: 0;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .min_priceWrapper input:focus::placeholder,
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .max_priceWrapper input:focus::placeholder {
  opacity: 0;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter input[type=number]::-webkit-inner-spin-button,
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter [class$=priceContainer] {
  display: flex;
  opacity: 100%;
  color: #040306;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.7px;
}
.mainFiltersContainer .filtersContainer .priceFilterContainer .priceFilter .line {
  width: 20px;
  border: 1px solid #040306;
  opacity: 30%;
  text-align: center;
  margin: 0 15px;
}
.mainFiltersContainer .filtersContainer .flatRoomBtnsContainer {
  width: 430px;
  min-width: 370px;
}
.mainFiltersContainer .filtersContainer .flatRoomBtnsContainer button.active {
  background-color: #2495FE;
}
.mainFiltersContainer .filtersContainer .flatRoomBtnsContainer button.active p {
  color: #FFFFFF;
}
.mainFiltersContainer .filtersContainer .flatRoomBtnsContainer button.disabled {
  opacity: 30%;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer {
  width: 430px;
  min-width: 250px;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  width: 100%;
  height: 55px;
  border: 1px solid #1E1F22;
  border-radius: 10px;
  opacity: 75%;
  padding: 0 20px;
  margin-bottom: 25px;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .min_squareWrapper input, .mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .max_squareWrapper input {
  width: 100%;
  opacity: 100%;
  color: #040306;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.7px;
  text-align: center;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .min_squareWrapper input:focus::-moz-placeholder, .mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .max_squareWrapper input:focus::-moz-placeholder {
  opacity: 0;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .min_squareWrapper input:focus::placeholder,
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .max_squareWrapper input:focus::placeholder {
  opacity: 0;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter input[type=number]::-webkit-inner-spin-button,
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter [class$=squareContainer] {
  display: flex;
  opacity: 100%;
  color: #040306;
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.7px;
}
.mainFiltersContainer .filtersContainer .squareFilterContainer .squareFilter .line {
  width: 20px;
  border: 1px solid #040306;
  opacity: 30%;
  text-align: center;
  margin: 0 15px;
}
.mainFiltersContainer .mainFilterLine {
  border: 1px solid #040306;
  opacity: 20%;
  margin-top: 64px;
}

.resultsBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.resultsBtnContainer .resultInfo {
  grid-column: 2;
  justify-self: center;
}
.resultsBtnContainer .resultInfo p {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.resultsBtnContainer .resultClearBtn {
  grid-column: 3;
  justify-self: end;
}
.resultsBtnContainer .clearBtnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.resultsBtnContainer .clearBtnContainer img {
  width: 12px;
  height: 12px;
}
.resultsBtnContainer .clearBtnContainer p {
  font-family: "Evolventa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-left: 12px;
}/*# sourceMappingURL=mainFilters.css.map */